<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
    ## Icons
  -->
  <link rel="apple-touch-icon" sizes="57x57" href="application/media/images/png/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="application/media/images/png/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="application/media/images/png/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="application/media/images/png/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="application/media/images/png/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="application/media/images/png/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="application/media/images/png/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="application/media/images/png/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="application/media/images/png/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="application/media/images/png/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="application/media/images/png/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="application/media/images/png/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="application/media/images/png/icons/favicon-16x16.png">
  <link rel="manifest" href="application/media/images/png/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="application/media/png/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
  <div id="root"></div>
  <!--
    This HTML file is a template.
    If you open it directly in the browser, you will see an empty page.

    This Development Boilerplate contains React+Redux. You can
    use this chain or make self instruments chain.

    You can add webfonts, meta tags, or analytics to this file.
    The build step will add all chunk into the end <body> tag.

    To begin the development, run `npm i && npm run dev`.
  -->
</body>
</html>